<nav class="navbar navbar-light bg-light justify-content-between px-5">
    <img src="assets/images/Logo_Black_Vector.webp" height="60" class="mr-2" />
    <div class="d-inline justify-content-between">
            <a routerLink="/" class="text-dark no-underline px-2">Courses</a> 
            <a routerLink="/" class="text-dark no-underline px-2">FAQ</a> 
            <a routerLink="/login" class="text-dark no-underline px-2">Login</a> 
    </div>
  </nav>
  <!------------------------------------------------->

  <div class="blue-bg p-5">
  <div class="container">
    <div class="row">
        <div class="col-md-12 text-center text-white">
            <h2> BECOME A TIME MANAGEMENT NINJA</h2>
            <h3 style="font-size: 62px;">TAKE CHARGE OF YOUR TIME</h3>
            </div>
          
            <div class="col-md-12 text-center">
                <img src="assets/images/img.webp" alt="img">
            </div>
            <div class="d-inline text-center">
                <p class="text-white my-4">(Already enrolled? Login)</p>
                    <a routerLink="/" class="bg-light p-2 no-underline rounded fw-bold">ENROLL NOW </a>
                    
            
            </div>
    </div>
  </div>
  </div>
  <!-------------------------------->

  <div class="featured p-2">
    <div class="container">
        <div class="row text-center">
          
           
               <div class="col-md-2">
                 <a routerLink="/" class="no-underline fs-5 fw-normal text-dark"><i class="pi pi-check-circle fw-bold px-2"></i> Overview</a>
               </div>
                 <div class="col-md-2">
                 <a routerLink="/" class="no-underline fs-5 fw-normal text-dark"><i class="pi pi-check-circle fw-bold px-2"></i> Review</a>
               </div>
                 <div class="col-md-2">
                 <a routerLink="/" class="no-underline fs-5 fw-normal text-dark"><i class="pi pi-check-circle fw-bold px-2"></i> Packages</a>
               </div>
                 <div class="col-md-2">
                 <a routerLink="/" class="no-underline fs-5 fw-normal text-dark"><i class="pi pi-check-circle fw-bold px-2"></i> Enrollment</a>
               </div>
                 <div class="col-md-2">
                 <a routerLink="/" class="no-underline fs-5 fw-normal text-dark"><i class="pi pi-check-circle fw-bold px-2"></i> Instructor</a>
               </div>
                 <div class="col-md-2">
                 <a routerLink="/" class="no-underline fs-5 fw-normal text-dark"><i class="pi pi-check-circle fw-bold px-2"></i> FAQ</a>
          
        </div>
    </div>
</div>
</div>
  <!------------------------------------->

<div class="container my-5">
    <div class="row">
        <div class="col-md-9 p-4">
            <h4>ABOUT THE COURSE</h4>
                <p class="fs-5">237,771+ students enrolled</p>

                <p class="fs-5 line-height-3">A Time Management course where I share 3 concepts on time, that will COMPLETELY CHANGE the way you manage your time. It's an action packed course containing pre-recorded videos, live sessions, notes and exercises, filled with frameworks and mental models to help you become a <b>TIME MANAGEMENT NINJA</b>.</p>
        
      
    <div class="row mt-4">
        <div class="col-md-12">
            <h5>WHAT YOU WILL LEARN</h5>
        </div>
        </div>
        <div class="row mt-2 text-center">
            <div class="col-md-3 p-4" style="background-color: #EBF3FF;">
                <h5>RETHINK ABOUT TIME</h5>
                    3 core ideas about time will completely change the way you look at time.</div>
            <div class="col-md-3 p-4" style="background-color: #f5f5f5;">
                <h5>RETHINK ABOUT TIME</h5>
                    3 core ideas about time will completely change the way you look at time.</div>
            <div class="col-md-3 p-4" style="background-color: #EBF3FF;">
                <h5>RETHINK ABOUT TIME</h5>
                    3 core ideas about time will completely change the way you look at time.</div>
            <div class="col-md-3 p-4" style="background-color: #f5f5f5;">
                <h5>RETHINK ABOUT TIME</h5>
                    3 core ideas about time will completely change the way you look at time.</div>
        </div>
        <div class="d-inline text-center mt-4 d-flex align-items-center justify-content-center">
            <p class="text-dark my-4">(Already enrolled? Login)</p><br>
                <a routerLink="/" class="blue-bg p-2 no-underline rounded fw-bold text-white">ENROLL NOW </a>
                
        
        </div>
   </div>
      <div class="sidebar-d col-md-3 p-4">
        <ul class="list-none ">
           
            <li class="d-flex align-items-center justify-center-start flex-row">
            <div class="icon"> <i class="pi pi-play fs-2 fw-bold text-primary px-2"></i></div>
             <div class="content">
                <h6 class="text-primary fw-bold"> PRE-RECORDED CONTENT</h6>
            <p>Watch 90min pre-recorded lectures at your convenience</p>
             </div>
            
            </li>
            <li class="d-flex align-items-center justify-center-start flex-row">
            <div class="icon">  <i class="pi pi-book fs-2 fw-bold text-primary px-2"></i></div>
            
           <div class="content">
            <h6 class="text-primary fw-bold"> LIVE CLASSES</h6>
            <p>Get your questions answered by Ankur Warikoo in live sessions</p>
           </div>
            </li>
            <li class="d-flex align-items-center justify-center-start flex-row">
            <div class="icon"> <i class="pi pi-copy fs-2 fw-bold text-primary px-2"></i></div>
            
           <div class="content">
            <h6 class="text-primary fw-bold"> EXERCISES</h6>
            <p>A 10-day exercise to find out how you can be more productive
            </p>
           </div>
                </li>
            <li class="d-flex align-items-center justify-center-start flex-row">
                <div class="icon"> <i class="pi pi-book fs-2 fw-bold text-primary px-2"></i></div>
            
            <div class="content">
                <h6 class="text-primary fw-bold"> CERTIFICATE</h6>
            <p>Earn a Shareable Certificate upon completion</p>
            </div>
            </li>
           <li class="d-flex align-items-center justify-center-start flex-row">
            <div class="icon"><i class="pi pi-users fs-2 fw-bold text-primary px-2"></i></div>
              
            <div class="content">
                <h6 class="text-primary fw-bold"> COMMUNITY</h6>
                <p>Get your questions addressed and network with fellow learners.</p>
            </div>
                </li>
            <li class="d-flex align-items-center justify-center-start flex-row">
                <div class="icon"> <i class="pi pi-comment fs-2 fw-bold text-primary px-2"></i></div>
              
                <div class="content">
                    <h6 class="text-primary fw-bold"> ENGLISH & HINDI</h6>
                    <p>Available in Hindi and English. You get access to both.</p>
                </div>
            </li>
            
        </ul>
    </div>
   </div>
   </div>
   <!----------------------------->
   <div class="container">
    <div class="row mt-5">
        <div class="col-md-12 my-4 text-center">
            <h2>Choose Your Plan</h2>
        </div>
        <div class="col-md-4" >
            <div class="card p-4" style="min-height: 250px;">
                <h4>Basic</h4>
                <ul class="list-disc my-5">
                <li>Pre-recorded Video Lectures</li>
                <li>PDF notes and 10-day exercise to manage time</li>
                <li> Certificate of completion</li>
                <li> Lifetime Access to WebVeda Community</li>
                </ul>
                <div class="d-inline">
                    <a href="https://rzp.io/l/tcoyt-basic-plan" class="rounded blue-bg p-2 text-white no-underline fs-6 mt-4">299</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="card p-4" style="min-height: 250px;">
                <h4>Standard</h4>
                <ul class="list-disc my-5">
                   <li>lire-recorded Video Lectures</li>
                <li>PDF notes and 10-day exercise to manage time</li>
                <li> Certificate of comliletion</li>
                <li> Lifetime Access to WebVeda Community</li>
                </ul>
                <div class="d-inline">
                <a href="https://pages.razorpay.com/time-mgmt-organic" class="no-underline fs-6 mt-4 blue-bg p-2 text-white">299</a>
            </div></div>
        </div>
        <div class="col-md-4" >
            <div class="card p-4" style="min-height: 250px;">
                <h4>Premium</h4>
                <ul class="list-disc my-5">
                   <li>Pre-recorded Video Lectures</li>
                <li>PDF notes and 10-day exercise to manage time</li>
                <li> Certificate of completion</li>
                <li> Lifetime Access to WebVeda Community</li>
                </ul>
                <div class="d-inline">
                <a href="https://rzp.io/l/tcoyt-premium-plan" class="no-underline fs-6 mt-4 blue-bg p-2 text-white">299</a></div>
            </div>
        </div>
        <div class="d-inline text-center mt-4 d-flex align-items-center justify-content-center flex-column">
            <p class="text-dark my-4">(Already enrolled? Login)</p><br>
                <a routerLink="/" class="blue-bg p-2 no-underline rounded fw-bold text-white">ENROLL NOW </a>
                
        
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
<p class="text-primary">MEET THE INSTRUCTOR</p>
<h3>Ankur Warikoo</h3>
<p class="fs-5 line-height-3">People often ask me - how do you get so much done in a day? You are an entrepreneur, an investor, a social media influencer, a fitness enthusiast, a public speaker, a voracious reader, a meditator, an aspiring singer. And I ask them back - what stops you from doing all of this? "Well, we don't have the time" is most often the response.</p>

   <p class="fs-5 line-height-3"> Guess what - that's a poor excuse. Because no one else has more time than you. Everyone has the SAME 24 HOURS!
   </p>
 </div>
        <div class="col-md-6">
            <img src="assets/images/banner1.jpg" alt="banner1" class="rounded">
        </div>
    </div>
    <hr>
    <div class="col-md-12 my-4">
        <p class="fs-5 line-height-3">
            Early on in life, I realized the importance of time. And how if I do not manage it, it will end up controlling me. Those active decisions have today become a habit and those habits have now become my life. It is these decisions, habits and techniques that I wish to share with all of you. To help you take control of your time as well.
            </p>
            <p class="fs-5 line-height-3">
            Today, at 39, I have run 3 startups, raised $40Mn+, invested in 20+ startups, have a social media presence of 8.9Mn+ followers and am an active public speaker. FORTUNE India featured me in their 40 Under 40 list for India and am part of LinkedIn India's PowerProfiles list.
            </p>
            <p class="fs-5 line-height-3">
            And all of these experiences are attributed to my relationship with time.</p>
                </div>
    </div>


  <!------------------------->
  <app-footer></app-footer>