<footer class="footer bg-dark text-white p-0 m-0 relative">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-3">
        <img src="assets/images/Logo_White_Vector.png" alt="logo footer" height="80">
      </div>
      <div class="col-md-3">
        <ul class="list-dash">
          <li><a routerLink="/" class="text-white">My Story</a></li> 
          <li><a routerLink="/" class="text-white">Blog</a></li> 
          <li><a routerLink="/" class="text-white">Contact</a></li> 
          <li><a routerLink="/" class="text-white">Investing</a></li> 
          <li><a routerLink="/" class="text-white">Public Speaking</a></li> 
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-dash">
          <li><a routerLink="/" class="text-white">Latest Videos</a></li> 
          <li><a routerLink="/" class="text-white">Courses</a></li> 
          <li><a routerLink="/" class="text-white">Newsletter</a></li> 
          <li><a routerLink="/" class="text-white">DO EPIC SHIT</a></li> 
          <li><a routerLink="/" class="text-white">GET EPIC SHIT DONE</a></li> 
          <li><a routerLink="/" class="text-white">epiCrew Community</a></li> 
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-dash">
          <li><a routerLink="/" class="text-white">Privacy Policy</a></li> 
          <li><a routerLink="/" class="text-white">Return Policy</a></li> 
          <li><a routerLink="/" class="text-white">Terms & Conditions</a></li> 
        
        </ul>
      </div>
    </div>
 </div>

  <div class="bg-black text-center p-2">
    <span>Copyright Zaan Webveda Private Limited | All Rights Reserved || Designed by Hari.</span>
  </div>
  </footer>