<!-- 
<div class="flex justify-content-center bg-transparent" ngClass="">
    <p-tieredMenu [model]="items"></p-tieredMenu>
</div> -->

<!-- <div class="card flex justify-content-center">
    <p-menu [model]="items"></p-menu>
</div> -->
<ul class="list-none list-dash" style="height: 100%;">
    <li class="fs-6 fw-norml text-secondary mt-2">
        <a class="text-secondary text-decoration-none" routerLink="/home">
        <i class="fs-6 px-2 pi pi-database"></i> Dashboard
        </a>
    </li>

    <li class="fs-6 fw-norml text-secondary mt-2">
        <a class="text-secondary text-decoration-none" routerLink="/userTable">
        <i class="fs-6 px-2 pi pi-users"></i> User List
        </a>
    </li>

    <li class="fs-6 fw-norml text-secondary mt-2">
        <a class="text-secondary text-decoration-none" routerLink="/profile">
        <i class="fs-6 px-2 pi pi-user"></i> Profile
        </a>
    </li>

    <li class="fs-6 fw-norml text-secondary mt-2">
        <a class="text-secondary text-decoration-none" routerLink="/leads">
        <i class="fs-6 px-2 pi pi-book"></i> leads
        </a>
    </li>

    <li class="fs-6 fw-norml text-secondary mt-2">
        <a class="text-secondary text-decoration-none" routerLink="/registerUserRole">
        <i class="fs-6 px-2 pi pi-user"></i> Roles
        </a>
    </li>

</ul>
