<div class="blue-bg p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-white text-center">
                <h2>Read my blog</h2>
                <p class="fs-5"> Read the latest articles from ankur warikoo.</p>
            </div>
        </div>
        <div id="carouselExampleControls" class="carousel slide mt-4" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row text-white">
                    <div class="col-md-4">
                        <div class="card bg-transparent border-white p-2 text-center">
                        
                        <h4>You are dying every day</h4>
                        <p>May 23, 2023 - No Comments</p>
                        <p class="fs-5"> Someone is tired of their job.Someone hates their boss.Someone feels they are in the wrong relationship.Someone wants to startup but...</p>
                    </div></div>
                    <div class="col-md-4">
                        <div class="card bg-transparent border-white p-2 text-center">
                        
                        <h4>You are dying every day</h4>
                        <p>May 23, 2023 - No Comments</p>
                        <p class="fs-5"> Someone is tired of their job.Someone hates their boss.Someone feels they are in the wrong relationship.Someone wants to startup but...</p>
                    </div></div>
                    <div class="col-md-4">
                        <div class="card bg-transparent border-white p-2 text-center">
                        
                        <h4>You are dying every day</h4>
                        <p>May 23, 2023 - No Comments</p>
                        <p class="fs-5"> Someone is tired of their job.Someone hates their boss.Someone feels they are in the wrong relationship.Someone wants to startup but...</p>
                    </div></div>
                </div>
              </div>
              <div class="carousel-item">
               <div class="row text-white">
                    <div class="col-md-4">
                        <div class="card bg-transparent border-white p-2 text-center">
                        
                        <h4>You are dying every day</h4>
                        <p>May 23, 2023 - No Comments</p>
                        <p class="fs-5"> Someone is tired of their job.Someone hates their boss.Someone feels they are in the wrong relationship.Someone wants to startup but...</p>
                    </div></div>
                    <div class="col-md-4">
                        <div class="card bg-transparent border-white p-2 text-center">
                        
                        <h4>You are dying every day</h4>
                        <p>May 23, 2023 - No Comments</p>
                        <p class="fs-5"> Someone is tired of their job.Someone hates their boss.Someone feels they are in the wrong relationship.Someone wants to startup but...</p>
                    </div></div>
                    <div class="col-md-4">
                        <div class="card bg-transparent border-white p-2 text-center">
                        
                        <h4>You are dying every day</h4>
                        <p>May 23, 2023 - No Comments</p>
                        <p class="fs-5"> Someone is tired of their job.Someone hates their boss.Someone feels they are in the wrong relationship.Someone wants to startup but...</p>
                    </div></div>
                </div>
              </div>
              <div class="carousel-item">
               <div class="row text-white">
                    <div class="col-md-4">
                        <div class="card bg-transparent border-white p-2 text-center">
                        
                        <h4>You are dying every day</h4>
                        <p>May 23, 2023 - No Comments</p>
                        <p class="fs-5"> Someone is tired of their job.Someone hates their boss.Someone feels they are in the wrong relationship.Someone wants to startup but...</p>
                    </div></div>
                    <div class="col-md-4">
                        <div class="card bg-transparent border-white p-2 text-center">
                        
                        <h4>You are dying every day</h4>
                        <p>May 23, 2023 - No Comments</p>
                        <p class="fs-5"> Someone is tired of their job.Someone hates their boss.Someone feels they are in the wrong relationship.Someone wants to startup but...</p>
                    </div></div>
                    <div class="col-md-4">
                        <div class="card bg-transparent border-white p-2 text-center">
                        
                        <h4>You are dying every day</h4>
                        <p>May 23, 2023 - No Comments</p>
                        <p class="fs-5"> Someone is tired of their job.Someone hates their boss.Someone feels they are in the wrong relationship.Someone wants to startup but...</p>
                    </div></div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          
</div>
</div>