<app-header></app-header>
<div class="main p-0 m-0">
    <div class="banner" style="background-image: url('assets/images/banner2.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-7 mt-5 text-white">
                    
                    <p style="    font-size: 38px;
                    margin-bottom: -20px;">awareness is</p>
                <h1 style="font-size: 62px;">                  
                    everything</h1>
                <h5 class="fs-4 mt-2">Make sure all the choices you make in life come from a point of awareness and not ignorance.</h5>
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </div>
    <!-------------------------->
<div class="featured bg-gray py-5">
    <div class="container">
        <div class="row text-center">
            <h2 class="fs-4 my-4">AS FEATURED ON</h2>
           
               <div class="col-md-2">
                 <a routerLink="/"><img src="assets/images/logo-1.webp" alt="featured img" height="30"></a>
               </div>
                 <div class="col-md-2">
                 <a routerLink="/"><img src="assets/images/logo-2.webp" alt="featured img" height="30"></a>
               </div>
                 <div class="col-md-2">
                 <a routerLink="/"><img src="assets/images/logo-1.webp" alt="featured img" height="30"></a>
               </div>
                 <div class="col-md-2">
                 <a routerLink="/"><img src="assets/images/logo-2.webp" alt="featured img" height="30"></a>
               </div>
                 <div class="col-md-2">
                 <a routerLink="/"><img src="assets/images/logo-1.webp" alt="featured img" height="30"></a>
               </div>
                 <div class="col-md-2">
                 <a routerLink="/"><img src="assets/images/logo-2.webp" alt="featured img" height="30"></a>
          
        </div>
    </div>
</div>
</div>
<!------------------------->
<div class="container py-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="fs-1">ankur warikoo</h2>
            <p class="fs-4 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eum optio labore vero itaque sequi voluptas cum eos accusantium error incidunt laboriosam, repellat placeat quasi officiis beatae minus dolorem ad id. Reiciendis soluta iste doloribus accusantium est ratione voluptatem obcaecati molestias distinctio ab odit voluptatum sed nesciunt dolores, quasi, in modi. Neque quis veritatis dolores incidunt distinctio, sint facere, laborum, dolorem qui voluptate impedit nobis quae pariatur facilis adipisci numquam.</p>
       
            <img class="mt-4" src="assets/images/Logo_Black_Vector.webp" alt="sign-black" height="70">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3 text-center">

           <i class="pi pi-book fs-3 my-4"></i>
            <h4 class="">Entrepreneur</h4>
        <p class="fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur quas enim quia necessitatibus quidem aperiam provident dolore? Nemo modi expedita vitae, vero dicta quam eaque, molestias error mollitia, animi ab!</p>
        </div>
        <div class="col-md-3 text-center">
           <i class="pi pi-book fs-3 my-4"></i>
            <h4 class="">Entrepreneur</h4>
        <p class="fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur quas enim quia necessitatibus quidem aperiam provident dolore? Nemo modi expedita vitae, vero dicta quam eaque, molestias error mollitia, animi ab!</p>
        </div>
        <div class="col-md-3 text-center">
           <i class="pi pi-book fs-3 my-4"></i>
            <h4 class="">Author</h4>
        <p class="fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur quas enim quia necessitatibus quidem aperiam provident dolore? Nemo modi expedita vitae, vero dicta quam eaque, molestias error mollitia, animi ab!</p>
        </div>
        <div class="col-md-3 text-center">
           <i class="pi pi-book fs-3 my-4"></i>
            <h4 class="">Investor</h4>
        <p class="fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur quas enim quia necessitatibus quidem aperiam provident dolore? Nemo modi expedita vitae, vero dicta quam eaque, molestias error mollitia, animi ab!</p>
        </div>
    </div>
</div>
<!--------------------------->
<div class="blue-bg py-5">
    <div class="container py-5">
        <div class="row text-center text-white">
            <h2 class="fs-1">Find Warikoo on</h2>
            <p class="fs-5">ankur warikoo has a strong community of 8Mn+ followers across all popular social media.</p>
           
               <div class="col-md-2">
                <i class="pi pi-facebook" style="font-size: 2rem"></i>
                 <h4>Facebook</h4>
               </div>
                 <div class="col-md-2">
                    <i class="pi pi-twitter" style="font-size: 2rem"></i>
                    <h4>Twitter</h4>
               </div>
                 <div class="col-md-2">
                 <i class="pi pi-spotify" style="font-size: 2rem"></i>
                 <h4>Spotify</h4>
               </div>
               <div class="col-md-2">
                <i class="pi pi-instagram" style="font-size: 2rem"></i>
                <h4>Instagram</h4>
              </div>
                 <div class="col-md-2">
                    <i class="pi pi-linkedin" style="font-size: 2rem"></i>
               <h4>Linkedin</h4>
               </div>
                 <div class="col-md-2">
                    <i class="pi pi-youtube" style="font-size: 2rem"></i>
              <h4>Youtube</h4>
          
        </div>
    </div>
</div>
</div>
<!------------------->
<app-course></app-course>
<!---------------------------------->
<div class="booksection mt-5 p-4">
<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <h2 class="fs-1">DO EPIC SHIT</h2>
            <p class="fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse quos laborum obcaecati dolorem recusandae iste, libero laboriosam deleniti voluptas exercitationem.</p>
            <img class="my-2" src="assets/images/Logo_Black_Vector.webp" alt="sign-black" height="40">
            <h4>ankur warikoo</h4>

           <a class="mt-4" routerLink="https://amzn.to/3lMhJf9"> <p-button label="Get Your Copy" icon="pi pi-check" iconPos="right" styleClass="p-button-warning"></p-button></a>
        </div>
        <div class="col-md-6">
            <img src="assets/images/book.webp" alt="book" height="400px" width="325px">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="assets/images/book2.webp" alt="book" height="400px" width="325px">
        </div>
        <div class="col-md-6">
            <h2 class="fs-1">DO EPIC SHIT</h2>
            <p class="fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse quos laborum obcaecati dolorem recusandae iste, libero laboriosam deleniti voluptas exercitationem.</p>

            <img class="my-2" src="assets/images/Logo_Black_Vector.webp" alt="sign-black" height="40">
            <h4>ankur warikoo</h4>
            <a class="mt-4" routerLink="https://amzn.to/3lMhJf9"> <p-button label="Get Your Copy" icon="pi pi-check" iconPos="right" styleClass="p-button-warning"></p-button></a>
        </div>
    </div>
</div>
</div>
<!----------------------------->
<app-review></app-review>
<!-------------------------->
<div class="container my-5 p-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>connect with me for a speaking engagement?</h3>
            <img class="my-4" src="assets/images/all.webp" alt="sign-black" height="500">
            <p>Fill the form below to connect with me for a speaking engagement
                at your company, school, college or at an event.
               <em> I am usually booked out 4-6 weeks in advance, so please provide me with that flexibility.</em></p>
        </div>
    </div>
    <div class="row mt-2 d-flex align-items-center justify-content-center">
        <div class="col-md-4 end"></div>
       <div class="col-md-4 end">
         <p-button label="Fill the form" styleClass="p-button-rounded"></p-button>
         <p-button label="Email Me" styleClass="p-button-rounded shadow-sm p-button-text p-button-secondary"></p-button>
       </div>
       <div class="col-md-4 end"></div>
</div>
</div>
<!---------------------->
<app-footer></app-footer>

